:root{
    --backgroundColor: #F9F9FF; 
    --buttonBlue: #3F5F90;
    --textColorWhite: #FFFFFF;
    --subheadingPurple: #1D192B;
    --footerBlack: #171717;
    --footerGrey: #979797;
    --secondaryGrey: #555F71;
    --brighterPrimary: #07305F;
    --sixtyTextFade: rgba(0, 0, 0, 0.6);
    --eightyTextFade: rgba(0, 0, 0, 0.87);
 }
 body{
     background-color: var(--backgroundColor);
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
 }
 a{
    text-decoration: none;
}
 .loginContainer{
     width: 428px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     box-sizing: border-box;
 }
 .companyLogo{
     width: 117px;
     height: 39px;  
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;    
 }
 .companyLogoImage{
     width: 117px;
     height: 39px;
     object-fit: cover;
 }
 .loginHeader{
     font-family: "Heebo";
     font-size: 34px;
     font-weight: 800;
     width: 100%;
     height: 50px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 32px 0px 40px 0px;
     box-sizing: border-box;

 }

 .loginInformationContainer{
     width: 428px;
     height: 166px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin-bottom: 0px;
     
 }
 .usernameContainer{
     margin: 0;
     margin-bottom: 30px;
 }

 .loginFormTopHelper{
     width: 56px;
     height: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Roboto";
     font-weight: 400;
     font-size: 12px;
     letter-spacing: 0.15px;
     line-height: 12px;
     color: var(--sixtyTextFade);
     margin: 0;
     margin-bottom: 10px;
     box-sizing: border-box;
 }

 #UserLoginFormUsername{
     outline: none;
     border: none;
     border-bottom: 1px solid var(--sixtyTextFade);
     padding-left: 0px;
     padding-bottom: 4px;
     color: black;
     font-family: "Roboto";
     letter-spacing: 0.15px;
     line-height: 24px;
     height: 24px;
     font-weight: 400;
     font-size: 16px;
     width: 100%;
     background-color: var(--backgroundColor);
 }
 #UserLoginFormUsername::placeholder{
     color: var(--eightyTextFade);
 }

 #UserLoginFormPassword{
     outline: none;
     border: none;
     border-bottom: 1px solid var(--sixtyTextFade);
     padding-left: 0px;
     padding-bottom: 4px;
     color: black;
     font-family: "Roboto";
     letter-spacing: 0.15px;
     line-height: 24px;
     height: 24px;
     font-weight: 400;
     font-size: 16px;
     width: 100%;
     background-color: var(--backgroundColor);
 }
 #UserLoginFormPassword::placeholder{
     color: var(--eightyTextFade);
 }

 .loginFormBottomHelper{
     width: 428px;
     height: 20px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     font-family: "Roboto";
     font-weight: 400;
     font-size: 12px;
     letter-spacing: 0.4px;
     line-height: 12px;
     color: var(--sixtyTextFade);
     margin: 0;
     margin-top: 8px;
     box-sizing: border-box;
 }

 .loginButton{
     width: 428px;
     height: 42px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--textColorWhite);
     background-color: var(--buttonBlue);
     border-radius: 4px;
     font-family: "Heebo";
     font-size: 15px;
     font-weight: 500;
     box-sizing: border-box;
     margin-top: 0px;
     margin-bottom: 24px;
     cursor: pointer;
     border: none;
     outline: none;
     
 }
 .forgotPassword{
     width: 131px;
     height: 24px;
     font-size: 16px;
     font-family: "Roboto";
     font-weight: 400;
     color: var(--secondaryGrey);
     letter-spacing: 0.15px;
     line-height: 150%;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     cursor: pointer;
     margin: 0;
 }
 .dontHaveAccountContainer{
     margin-top: 20px;
     width: 428px;
     height: 66px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: var(--textColorWhite);
     border: 1px solid black;
     box-sizing: border-box;
     column-gap: 32px;
     
 }
 .dontHaveAccountText{
     font-family: "Roboto";
     font-weight: 400;
     font-size: 16px;
     width: 176px;
     height: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     letter-spacing: 0.5px;
     line-height: 24px;
     box-sizing: border-box;
     color: black;
 }
 .dontHaveAccountSignup{
     color: var(--brighterPrimary);
     font-size: 16px;
     width: 56px;
     height: 20px;
     font-family: "Roboto";
     font-weight: 500;
     box-sizing: border-box;
     letter-spacing: 0.1px;
     line-height: 20px;
     cursor: pointer;

 }

 @media only screen and (min-width: 1025px) {

 }
 @media only screen and (min-width: 601px) and (max-width: 1024px) {
 }
 @media only screen and (max-width: 600px) {
     .loginContainer{
         width: 288px;
         
     }     
     .loginHeader{
         font-size: 24px;
         width: 245px;
         height: 35px;
         margin: 24px 0px 40px 0px;
     }

     .loginInformationContainer{
         width: 288px;
         height: 166px;
         margin-bottom: 60px;
         
     }
     .loginButton{
         width: 288px;
     }
     .dontHaveAccountContainer{
         width: 288px;
         column-gap: 16px;
         
     }
     .dontHaveAccountText{
         font-size: 12px;
         width: 135px;
     }
     .dontHaveAccountSignup{
         font-size: 12px;
     }


 }